apiVersion: v1
kind: Secret
metadata:
  name: redis-secret
  namespace: redis
  labels:
    app.kubernetes.io/name: redis
    app.kubernetes.io/part-of: pasb
type: Opaque
stringData:
  REDIS_PASSWORD: "[REDIS_PASSWORD]"
